@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #f1f1f1;
}

.header__nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: #fff;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    overflow: hidden;
    transition: 300ms linear;
}

.header__nav:hover {
    width: 234px;
}

.logo {
    display: block;
    margin-left: 5px;
    width: max-content;
}

.header__list {
    padding-left: 15px;
    width: max-content;
}

.header__link {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 21px;
    color: #939393;
}

.header__link i {
    display: flex;
    justify-content: center;
    margin-right: 29px;
    font-size: 40px;
    width: 40px;
}

.header__list li:last-child .header__link {
    margin-bottom: 0;
}

.header__link:hover {
    color: #2a86b1;
}

.header__content {
    height: 500px;
    padding-left: 62px;
    margin: 30px 0;
    border-radius: 14px;
    background: url(../images/Фон.png) no-repeat center/cover, #fff;
    display: flex;
    align-items: center;
}

.header__text {
    max-width: 332px;
    width: 100%;
}

.header__title {
    font-size: 50px;
    line-height: 59px;
    color: #464748;
    position: relative;
    display: flex;
    align-items: center;
}

.header__title::before {
    content: '';
    display: block;
    position: absolute;
    width: 99.6px;
    height: 52.28px;
    background: #3FA5D5;
}
.header__title span{
    position: relative;
    z-index: 2;
}

.header__descr {
    font-size: 16px;
    line-height: 19px;
    color: #696868;
    margin: 25px 0;
    max-width: 314px;
    text-align: justify;
}

.header__more {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    max-width: 211px;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-radius: 30px;
    background: #3fa5d5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.cards__item {
    max-width: 255px;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 338px;
    justify-content: space-between;
    padding: 32px 18px 19px;
}

.cards__item:nth-child(3) {
    padding-top: 24px;
}

.cards__item .header__more {
    max-width: 219px;
}

.cards__title {
    color: #2a86b1;
    font-size: 20px;
    line-height: 24px;
}

.header__more:hover {
    background: #2a86b1;
}

.news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.news__left,
.news__right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.news__left {
    max-width: 825px;
}

.news__right {
    max-width: 255px;
}

.news__title {
    color: #686868;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
    padding-left: 15px;
}

.news__descr {
    color: #545454;
    font-size: 16px;
    line-height: 19px;
    padding: 15px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 8px;
    text-align: justify;
}

.news__descr:last-child {
    margin-bottom: 0;
}

.news__item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
}

.news__item:last-child {
    margin-bottom: 0;
}

.news__elems {
    margin-left: 15px;
}

.news__elems-title {
    color: #323232;
    font-size: 17px;
    line-height: 94.5%;
    margin-bottom: 5px;
    font-weight: normal;
}

.news__elems-descr {
    font-size: 14px;
    line-height: 94.5%;
    font-weight: 300;
}

.news__cards {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* footer */

.footer {
    background: #3fa5d5;
    padding: 40px 0;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__title {
    color: #fff;
    font-size: 50px;
    line-height: 59px;
}

.footer__link {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-weight: bold;
    text-align: right;
}

.footer__link-se {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}

#check{
    display: none;
}
.btn{
    width: 40px;
    height: 40px;
    background: crimson;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    left: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 200;
    transition: 400ms linear;
    /* cursor: url(../images/Ава.png), pointer; */
    cursor: pointer;
}
.bars{
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    position: relative;
}
.bars::before, .bars::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background: #fff;
    top: -8px;
    transition: 400ms linear;
}
.bars::after{
    top: 8px;
}
#check:checked ~ .btn{
    left: 240px;
}
#check:checked ~ .header__nav{
    left: 0;
}
#check:checked ~ .btn .bars{
    background: transparent;
}
#check:checked ~ .btn .bars::before{
   top: 0;
   transform: rotate(-45deg);
}
#check:checked ~ .btn .bars::after{
   top: 0;
   transform: rotate(45deg);
}

@media(max-width: 1350px) {
    .header__nav{
        width: 234px;
        left: -234px;
    }
    .btn{
        display: flex;
    }
}

@media(max-width: 1140px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2, minmax(220px, 255px));
        justify-content: center;
        gap: 30px;
    }
    .news{
        flex-direction: column;
        align-items: center;
    }
    .news__left{
        margin-bottom: 50px;
    }
}

@media(max-width: 580px) { 
    .footer__content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__title, .header__title{
        font-size: 36px;
        line-height: 40px;
    }
    .footer__link{
        text-align: center;
    }
    .footer__elems{
        margin-top: 30px;
    }
    .cards{
        grid-template-columns: minmax(220px, 255px);
    }
    .header__title::before{
        display: none;
    }
    .header__content{
        padding: 0 15px;
    }
}
